ul li{list-style-type: none;}
/* 子课题显示控制 */
.topId { text-decoration: none; color:#8B8970; position: relative; z-index: 2; }
.topId:hover { z-index: 3; background: none;text-decoration:none; color:#8B8878;cursor:pointer; }
.topId table{ display:none;}
.topId:hover table { /*table 鼠标移动显示效果ʾ*/
	display: block; position: absolute; width: 700px;
	border: 1px solid #DFDFDF; background-color: #F0F0F0;
	padding: 3px; color: black;
}
.trClass{border-bottom: 1px dashed #C2C2C2; height:33px; border-right: 1px dashed #C2C2C2; text-align: center;}
.tdClass{border-right: 1px dashed #C2C2C2; text-align: center;}
.tabletr{height:35px;}
.textarea-medium{width: 350px;}
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.line-height{line-height: 30px;}
.text-font{font-size: 14px; font-weight: normal;}
.control-label{float: left;width: 240px;padding-top: 5px;text-align: right;}
.controls{text-align: left; margin-left: 300px; padding-top: 5px;}
.input-mlarge{width: 350px;}
.height-60{height: 60px;}
.height-100{height: 100px;}
.left-100{margin-left: 100px;}
.right-100{margin-right: 100px;}
.openapply{display: none;}
.openreport{display: none;}
.hidden{display: none;}
.show{dispaly: block;}
.lfloat{float: left;}
.rfloat{float: right;}
.title{line-height: 40px; border-bottom: 1px dashed #e2e2e2;}
.title span{width: 80%; display: inline-block;margin-left:70px;}
.title-main{margin-top: 30px;}
.maincontent{font-size: 14px;}
.maincontent li{border-bottom: 1px dashed #e2e2e2;}
.maincontent li span{float: right;}
.maincontent li a{text-decoration: none; color: #525252;}
.maincontent li a:hover{color: #fc7a07}

/*---- rejoinInfo ----*/
tr .center-td{text-align: center; vertical-align:middle}
.marginright{margin-right: 110px;}
.marginleft{margin-left: 77px;}
.gradetable{margin-top: 30px;}
.tabletr td{text-align: center; vertical-align:middle}
.tabletr .self-table{width: 100%; border-collapse: inherit;}
.color-red{color: red;}
.f-right{float: right;}
.btn-type{margin-right: 10px; margin-top: 6px;}
.font-type{font-weight: bold; font-size: 15px;}
.message{color: red; text-align: center;}
.grade-title{font-size: 23px; font-weight: bold; margin-top: 20px;}
.widget-content .type-profes{margin-top:10px; margin-bottom: 10px; font-size: 15px;}
.score{line-height: 30px; margin-bottom: 0px; margin-right: 68px;}
.progress-new{}
.progress-new > ul{list-style:none;}
.progress-new > ul.progress{height: 30px}
.progress-new > ul.progress-desc{height: 30px}
.progress-new > ul > li{float:left;}
.progress-new > ul > li div{color : #999999; font-size : 0.8em}
.progress-new > ul > li.dot-active{width:21px;height:21px;background : url(../images/progress-dot-active.png)}
.progress-new > ul > li.dot-inactive{width:21px;height:21px;background : url(../images/progress-dot-inactive.png)}
.progress-new > ul > li.line-active{width:165px;height:10px; background : url(../images/progress-line-active.png) no-repeat; margin-top: 10px}
.progress-new > ul > li.line-inactive{width:205px;height:10px; background : url(../images/progress-line-inactive.png) no-repeat; margin-top: 10px}

.model-edit{left: 40%; width: 900px; }
.is-judged{background: #fff url(../images/loading.gif) center center no-repeat}
.is-judged a{display: none; }
